<ion-slide-box auto-play="false" does-continue="true" slide-interval="0" loop="true">
    
    <!-- <ion-slide ng-repeat="company in companies">
        <h1>{{companies.name}}</h1>   
        <img src="../img/connectiflor.png" alt="">       
    </ion-slide> -->
    
    <ion-slide>
        <h1>page1</h1>   
        <img src="../img/connectiflor.png" alt="">       
    </ion-slide>
    <ion-slide>
        <h1>page2</h1>          
        <img src="../img/janspekrozen.png" alt="">       
    </ion-slide>
    <ion-slide>
        <h1>page3</h1>          
        <img src="../img/rosebreeders.png" alt="">       
    </ion-slide>
</ion-slide-box>